*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}


.container{
    margin-top: 100px;
}
.container h1{
    padding: 60px;
    text-align: center;
}

tr{
    font-size: 20px;
}

table{
    height: 70vh;
    background-color: rgba(252, 252, 252, 0.322);
}
